
.container{
	width: 1000px;
	
	.header{
		width: 100%;
		text-transform: capitalize;
		font-size: 2rem;

		display: flex;
		justify-content: space-between;
		align-items: center;
		padding-right: 25px;

		svg{
			font-size: inherit;	
		}
		
	}

	.collapsible{
		transform-origin: top center;
		transition: transform .25s;
		overflow:hidden;
	}

	.open{
		transform: scaleY(1);
	}

	.closed{
		transform: scaleY(0);
	}

	.arrow-down{
		transform: rotateZ(0deg);
		transition: transform .25s;
	}

	.arrow-up{
		transform: rotateZ(180deg);
		transition: transform .25s;
	}
}
