
$transition-time: 0.4s;

.container{
	width: 1000px;
	background-color: white;
	border-radius: 15px;
	padding: 1rem;
	
	.header{
		width: 100%;
		text-transform: capitalize;

		display: flex;
		justify-content: space-between;
		align-items: center;
		padding-right: 25px;

		svg{
			font-size: inherit;	
		}
		
	}

	.collapsible{
		transition: max-height $transition-time;
		overflow:hidden;
	}

	.open{
		max-height: 1000px;
	}

	.closed{
		max-height: 0;
	}

	.arrow-down{
		transform: rotateZ(0deg);
		transition: transform $transition-time;
	}

	.arrow-up{
		transform: rotateZ(180deg);
		transition: transform $transition-time;
	}
}
