@use 'src/_variables' as v;

input[type=checkbox]{
	margin-right:0.5rem;

	&:checked{
		accent-color: v.$accent-color-1;
	}
}

.control{
	margin-right: 1rem;
}

label{
	margin-right: 0.5rem;
}

.label{
	font-size: 1.1rem;
	font-weight: bold;
}